/*
 * MAKING YOUR OWN COLOR SCHEME
 * 
 * Use Find and replace to change colors at many places in one time. Actually whenenver you are to change a color, consider using F/R to look for them same color.
 * At places, the same color with varying luminousity is used so keep that in mind and make your design a/c that for best results.
 * 
*/

/* Global styles */
#page {
	color: #485355;
	border-radius: 1.0em;
}
#sidebar {
	background: #ee3e2b;
}

body { background-color:  #fdf6e3; }

/* :not(pre) > code { background-color: #F3F8C0; } */

#data a[href] .a_nohover:hover { background-color: #31322C; border: 0px; }

a[href], a:visited, a:active {
	color: #2aa198;
	border-color: #eee8d5;
}

#data a[href]:hover, .postdate a[href]:hover {
	background-color: #eee8d5;
	border-color: #BDEDAF;
	color: #2aa198;
}

h1, h2, h3, h4, .heading {
	color: #cb4b16;
}

h1 a, h1 a:visited, h1 a:active {
	color: #cb4b16;
}

h1 a:hover {
	background-color: #eee8d5;
	border-color: #eee8d5;
}

/* Singular styles */
#topright a i.fa:hover {
	color: #7488E4;
}

article h1 a.anchor {
	color: #57C7DB;
}

blockquote {
	border-color: #cb4b16;
}

#sidebar, #sidebar a {
	color: #ffff80;
}
#sidebar a:hover {
	color: default;
	background-color: default;
}
#sidebar li {
	border-color: #C22210;
}

/* .latestposts-box { background-color: #EF5B4B; } */

#data hr { background-color: #FBE09B ;}

#footer {
	border-color: #eee8d5;
}

.button-tag {
	background: #0A59A9;
	color: #d3d3d3;
	border-color: #272822;
}

.button-tag:hover {
	background: #063C71;
	border-color: #063C71;
}

.button-cat {
	background: #B59B35;
	border-color: #AE9B17;
	color: #d3d3d3;
}

.button-cat:hover {
	background: #917C2B;
	border-color: #917C2B;
}

.divider {
	background: #EC311C;
}

.inbutton {
	color: #F5C138;
}
.inbutton:hover {
	background-color: #F5C138;
	color: #fdf6e3;
}

em, .concrete { background: #F9E0A2; }

header .tagline {
	background-color: #EBE4CD;
}

th {
	background-color: #DDEAC4;
}
td {
	border-color: #7D7B20;
}

/* Specific styles */
#data .notify a[href]:hover { background-color: #e3f7fc; }

/*** Pygments ***/
.highlight{
	background-color: #eee8d5;
	color: #657b83;
	border: 1px solid #d6ceb6;
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding: 6px 10px;
}