/* Global styles */
#page {
	background-color:  #fdf6e3; /* #fdf6e3;*/
	color: #485355;
	border-radius: 1.0em;
}
body { background-color:  #FBECC4; }

/* :not(pre) > code { background-color: #F3F8C0; } */

a[href], a:visited, a:active {
	color: #2aa198;
	border-color: #eee8d5;
}

#data a[href]:hover, .postdate a[href]:hover {
	background-color: #eee8d5;
	border-color: #BDEDAF;
	color: #2aa198;
}

h1, h2, h3, h4, .heading {
	color: #cb4b16;
}

h1 a, h1 a:visited, h1 a:active {
	color: #cb4b16;
}

h1 a:hover {
	background-color: #eee8d5;
	border-color: #eee8d5;
}

/* Singular styles */
#topright a i.fa:hover {
	color: #7488E4;
}

article h1 a.anchor {
	color: #57C7DB;
}

blockquote {
	border-color: #cb4b16;
}

#sidebar a:hover {
	color: #248C85;
	background-color: #fdf6e3; /*#fdf6e3;*/
}

#lbox {
	background-color: #FCECC2;
}
#lbox a, #lbox a:hover {
	color: #919EA2;
}

#data hr { background-color: #FBE09B ;}

#footer {
	border-color: #eee8d5;
}

header .tagline {
	background-color: #EBE4CD;
}

th {
	background-color: #DDEAC4;
}
td {
	border-color: #7D7B20;
}

/* Specific styles */
#data .notify a[href]:hover { background-color: #e3f7fc; }

/*** Pygments ***/
.highlight{
	background-color: #eee8d5;
	color: #657b83;
	border: 1px solid #d6ceb6;
    border-radius: 3px 3px 3px 3px;
    overflow: auto;
    padding: 6px 10px;
}