/*
 * MAKING YOUR OWN COLOR SCHEME
 * 
 * Use Find and replace to change colors at many places in one time. Actually whenenver you are to change a color, consider using F/R to look for them same color.
 * At places, the same color with varying luminousity is used so keep that in mind and make your design a/c that for best results.
 * 
*/

/* Global styles */
#page {
	color: #515151;
	border-radius: 1.0em;
}
#sidebar {
	background: #202020;
}

body { background-color:  #ffffff; }

:not(pre) > code { background-color: #f9f9f9; color: #bf616a; }

#data a[href] .a_nohover:hover { background-color: #ffffff; border: 0px; }

a[href], a:visited, a:active {
	border-color: #268bd2;
	color: #268bd2;
	border: 0px;
}

#data a[href]:hover, .postdate a[href]:hover {
	padding-bottom: 0px;
	border-bottom: 1px solid;
	background-color: #ffffff;
	border-color: #268bd2;
	color: #268bd2;
}

h1, h2, h3, h4, .heading {
	color: #303030;
}

h1 a, h1 a:visited, h1 a:active {
	color: #303030;
}

h1 a:hover {
	background-color: #ffffff;
	border-color: #303030;
}

/* Singular styles */

#navigation h1 a {
	color: #A0A0A0;
}
#navigation h1 a:hover {
	color: #909090;
}

.latestposts-header {
	color: #909090;
}

.post-index-cat {
	background-color: #f9f9f9;
}

blockquote {
	border-color: #303030;	
}

#sidebar, #sidebar a {
	color: #dddddd;
}
#sidebar a:hover {
	color: #ffffff;
	background-color: #202020;
}
#sidebar li {
	border-color: #000000;
}

#data hr { background-color: #dddddd;}

#footer {
	border-color: #dddddd;
}

.button-tag {
	background: #063A6F;
	color: #d3d3d3;
	border-color: #272822;
}

.button-tag:hover {
	background: #042B51;
	border-color: #042B51;
}

.button-cat {
	background: #5A763D;
	border-color: #2D6024;
	color: #d3d3d3;
}

.button-cat:hover {
	background: #42572D;
	border-color: #42572D;
}

.divider {
	background: #000000;
}

.inbutton {
	color: #505050;
}
.inbutton:hover {
	background-color: #ffffff;
	color: #000000;
}

em, .concrete { background: #f9f9f9; }

header .tagline {
	background-color: #ffffff;
	color: #9a9a9a;
}

table:not(.inline) tr:nth-child(even) {
    background-color: #f9f9f9;
}
th {
	background-color: #9a9a9a;
}
td {
	border-color: #7D7B20;
}

/* Specific styles */
#data .notify a[href]:hover { background-color: #e3f7fc; }

/*** Pygments ***/
