/*** Reset ***/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: bullet;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}

img { max-width: 100%; } /* useful for smaller screens , image zoomed out */

table { border-collapse: collapse; }
th { text-align: center; border: 1px solid; }
td { text-align: left; 
	border: 1px solid; 
	padding: 4px 4px 4px 4px;
}

table.inline th, table.inline td { border: 0px; }
.index-item table.inline td { padding-left: auto;}
table.inline td { padding-left: 10px; }

/*** Basics ***/
body {
	font-family: Verdana, sans-serif;
	font-size: 14px;
	line-height: 1.7;
}

a, a:active, a:visited {
	text-decoration: none;
	padding-bottom: 2px;
}

a[name] {
	border: 0px;
}

p { margin-bottom: 15px; }
ul, ol { padding: 0 0 18px 30px; }
ol li, ul li { margin-top: 3px; margin-bottom: 3px; }
i { font-style: italic; }
strong, b { font-weight: bold; }
small { font-size: 0.85em; }
sup { vertical-align: super; font-size: 0.85em; }
sub { vertical-align: sub; font-size: 0.85em; }

:not(pre) > code {
    font: 1em Monaco, Courier, Monospace;
}

pre {
	margin: 1em 0.5em 1em 0.5em;
}

pre > code { 
	/*font-family: Monaco, Courier, Monospace;*/
	font-family: Anonymous Pro;
	font-size: 0.8em; /* fix it - dont want large on 16px blog posts */
	margin: 1em 0em 1em 0em;
	padding: .5em 1em .5em 1em;
	color: #444444;
}

pre > code[class*="language-"] {
	font-size: 0.8em;
	line-height: 1.5em;
    white-space: pre;
    padding-top: 0;
    padding-bottom: 0;
    tab-size: 3;
    display: block;
}

/* scroll bars */
pre {
 white-space: pre-wrap;       /* css-3*/
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999*/
 white-space: -pre-wrap;      /* Opera 4-6*/
 white-space: -o-pre-wrap;    /* Opera 7*/
 word-wrap: break-word;       /* Internet Explorer 5.5+*/
}

blockquote {
    margin: 22px 22px;
    padding: 0 20px;
    border-left: 2px solid #000000;
    font-size: 1.1em;
    line-height: 1.2em;
}

em, .concrete {
	padding: 2px 5px 2px 5px;
	border-radius: 0px;
}

.notify {
	background-color:#e3f7fc; color:#555; 
    border:.1em solid;
	border-color: #8ed9f6;
    border-radius:10px;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    font-size:1.2em;
    padding:10px 10px 10px 10px;
    margin-bottom: 20px;
    margin-left: 0px;
    cursor: default;
}
#data .notify a { border: 0px; }

.notify-yellow { background: #fff8c4; border-color: #f7deae; }
.notify-red { background: #ffecec; border-color: #fad9d7; }
.notify-green { background: #e9ffd9; border-color: #D1FAB6; }

.button {
	font-size: .9em;
    font-family:Tahoma,Geneva,Arial,sans-serif;
    padding:4px 8px 4px 8px;
    border:2px solid #44463C;
	border-radius:.5em;
    background: #FCC485;
    color: black;
    white-space: nowrap; /* to disable word wrap */
}

.inbutton {
	font-family:Tahoma,Geneva,Arial,sans-serif;
	padding:2px 4px 2px 4px;
    border:1px solid;
    border-style: ;
    font-weight: bold;
	border-radius:.1em;
}

.button-tag, .button-cat {
	border: 1px solid;
	border-radius: .5em;
	padding: 2px 5px 2px 3px;
}

.button-tag:before { content: '+ ';}
.button-cat:before { content: '@ ';}

.button:hover {
	background: default;
	color: default;
	border-color: white;
	cursor: pointer;
}

.facebook { background: #4862a3; }
.twitter { background: #55acee; }
.gplus {background: #dd4c39; }
.github {background: #494343; }
.feeds {background: #e27c00; }

.symbol {
	font-size: 0.9em;
	font-family: Times New Roman;
	border-radius: 1em;
	padding: .1em .6em .1em .6em;
	font-weight: bolder;
	color: white;
	background-color: #4E5A56;
}

.icon-info { background-color: #3229CF; }
.icon-error { background: #e64943; font-family: Consolas; }
.icon-tick { background: #13c823; }
.icon-excl { background: #ffd54b; color: black; }

.icon-info:before { content: 'i'; }
.icon-error:before { content: 'x'; }
.icon-tick:before { content: '\002713'; }
.icon-excl:before { content: '!'; }
/* .notify:before { content: "&#2713"; } */

.postdate { font-style: italic; font-size: 0.9em;}
.copyright { text-align: center; }

acronym, abbr {
	cursor: help;
	letter-spacing: 1px;
	border-bottom: 1px dashed;
}


h1 {
	font-size: 24px;
	margin: 5px 0 7px 0;
}
h2 {
	font-size: 22px;
}
h3 {
	font-size: 20px;
}
h4 {
	font-size: 18px;
}
h2,h3,h4 { margin: 10px 0px 5px 0px; }

#data hr {
	margin: 0px 40px 0px 40px;
	height: 3px;
	border: 0px;
}


/*** Useful Classes ***/
.noborder {border: 0px;}
.white { color: white; }
.clear { clear: both; }
.float-left { float: left; }
.float-right { float: right; }
.text-left { text-align: left; }
.text-right { text-align: right; }
.text-center { text-align: center; }
.text-justify { text-align: justify; }
.img-left { float: left; margin: 4px 10px 4px 0; }
.img-right { float: right; margin: 4px 0 4px 10px; }
.img-middle { vertical-align: middle; }
.nopadding { padding: 0; }
.nounderline { text-decoration: underline; }
.clears:after { clear: both; }

.top-xs { padding-top: 10px !important; }
.bottom-xs { padding-bottom: 10px !important; }

/*** Structure ***/

#page {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	position: relative;
}

#header {
	font-weight: bold;
	margin-left: auto;
	margin-right: auto;
}

.header_title { /* width: 750px; */ }

#header h1 {
	font-size: 32px;
	margin-bottom: 0px;
}
#header h1 a {
	border: none;
}
#header .post_date {
	margin-left: 0px;
}

#footer {
	width: 500px;
	margin: auto;
	margin-top: 30px;
	padding-top: 10px;
	bottom: 10px;
	font-size: 0.85em;
	border-top: 1px solid #073642;
}

#rightbar {
	display: none;
	float: right;
	right: 0px;
}

#content {
	margin-left: 220px;
	padding: 15px;
	padding-top: 30px;
	border-radius: 2em;
	bottom: 0;
	max-width: 1200px;
}

#xc, #xcpg {
	margin-left: auto;
	margin-right: auto; /* centers the div #xc in #content */
	width: 750px;
	bottom: 0;
}
#xcpg { width: 80%; }
div.post-content { font-size: 16px; }

#sidebar {
	top: 0;
	bottom: 0;
	left: 0;
 	position: fixed;
	text-align: left;
	width: 220px;
	background: black;
	float: left;
}

#sidebar li {
	list-style: none;
	padding: 5px;
	padding-left: 10px;
	margin: 0px;
	border-top: 1px;
	border-color: white;
	border-style: inset;
}

#navigation h1 a {
	font-size: 32px;
	font-family: 'Raleway', 'Times New Roman', sans-serif;
}

#navigation h1 a:hover {
	font-size: 32px;
}

#navigation a {
	border: none;
	font-family: 'Raleway', 'Helvetica Neue', "Helvetica", sans-serif;
	font-size: 1.2em;
	padding: 2px 4px;
}

#navigation a:hover {
	font-size: 1.2em;
}

.navigation-header-small {
	font-size: 1.4em !important;
}

.latestposts-header {
	font-size: 1.8em;
	font-family: 'Raleway', sans-serif;
}

.latestposts {
	text-decoration: none;
	margin: 0px 0px 0px 0px;
	font-size: .9em;
	font-family: 'Raleway', sans-serif;
}

.latestposts:before { content: '';}


/*** Posts ***/
article {
	margin-bottom: 40px;
}

article h1 {
	font-size: 17px;
	margin: 0 0 10px 0;
}
article h1 a {
	border: none;
}
article h1 a.anchor {
	margin-left: 8px;
}

article img {
	display: block;
	text-align: center;
	margin: 2em auto 2em auto;
}

article img.emoji {
	display: inline;
	text-align: left;
	margin: 0;
}

article .meta {
	padding-top: 6px;
	font-size: 0.85em;
	font-style: italic;
}

img.left {
	float: left;
	margin: 0 1em 1em 0;
}
img.right {
	float: right;
	margin: 0 0 1em 1em;
}
img.center {
	display: block;
	text-align: center;
	margin: 0 auto 1em auto;
}

#post-tags {
	margin-top: 20px;
}

/* Post index */

.index-date { font-size: .7em;
	color: #8B8D7A;
	text-align: right;
	width: 150px; 
	}

.index-post { text-align: left; width: 500px; }

.index-item { width: 650px; 
	margin: 0 auto; 
	font-size: 1.2em; }

.post-index-cat {
	text-align: center;
	width: 100%;
	background-color: #EAEAEA;
}

/** Very Custom settings **/


/*** Media Queries ***/
@media all and (max-width: 1050px) {

	#page, #header, #content, #data, #xc, #footer, .index-item, .post-index-cat {
		width: inherit;
		padding-left: 10px;
		padding-right: 10px;
	}
	
	#content { margin-left: 0px; }
	#xc { max-width: 650px; }
	#xcpg { width: 95%; }
	
	#header { margin-left: 10px; }
	#rightbar { 
		display: block;
		float: none; right: auto; margin-left: 0px; text-align: center; font-size: 16px;
		margin-top: 0px; padding-top: 20px; }

	#sidebar {
		display: none;
		position: relative;
		text-align: left;
		width: 100%;
		top: 10px;
		margin: 0px auto 40px auto;
	}

	#sidebar nav select.mnav {
		display: block;
		margin-bottom: 15px;
	}
}

@media all and (max-width: 750px) {
	pre > code {
		overflow-x: scroll;
	}
}

@media only screen and (max-width: 480px) { /* mobiles */
	#content { margin-left: 0px; padding: 0px; }
	#header { margin-left: 0px; }
	#header h1 { font-size: 24px; }
	#page { padding-left: 3px; padding-right: 3px;}
}