---
layout: default
title: Blog Posts
nod: 1
---

<div class="uk-alert-warning" uk-alert>
    <a class="uk-alert-close" uk-close></a>
    <h3>Hey!</h3>
    <p>I have stopped posting articles on this website now. 
    For my latest articles, please head over to my <a href="http://medium.com/aviaryan" target="_blank">Medium publication.</a></p>
</div>

<!-- <table class="inline">
<tr>
<td class="uk-padding-small"><a href="categories.html"><h3>Categories</h3></a></td>
<td class="uk-text-middle">
{% for category in site.categories %}
<a href="/blog/categories.html#{{ category | first }}" class="uk-badge cat">{{ category | first }}</a>
{% endfor %}
</td></tr>

<tr>
<td class="uk-padding-small"><a href="tags.html"><h3>Tags</h3></a></td>
<td class="uk-text-middle">
{% for tag in site.tags %}
<a href="/blog/tags.html#{{ tag | first }}" class="uk-badge">{{ tag | first }}</a>
{% endfor %}
</td></tr></table> -->


<div>Avi has posted in the following <span class="uk-badge cat">categories</span> and using the following <span class="uk-badge">tags</span>.</div>


<div class="uk-margin-top">
{% for category in site.categories %}
<a href="/blog/categories.html#{{ category | first }}" class="uk-badge cat">{{ category | first }}</a>
{% endfor %}
<a href="/ahk" class="uk-badge cat">ahk</a>
{% for tag in site.tags %}
<a href="/blog/tags.html#{{ tag | first }}" class="uk-badge">{{ tag | first }}</a>
{% endfor %}
</div>

<br><br>

{% for post in site.posts %}
	{% include archive_post.html %}
{% endfor %}