---
layout: default
title: Posts Tags
nod: 1
---

<a name="untagged"></a><h1 class="post-index-cat">UnTagged</h1>
{% for post in site.posts %}
{% for tag in post.tags %}{% capture tagname %}{{ tag }}{% endcapture %}{% endfor %}
{% if tagname == null %} {% include post_in_list.html %} {% endif %}
{% assign tagname = null %}{% endfor %}

{% for tag in site.tags %}
<br>
{% capture catname %}{{ tag | first }}{% endcapture %}
<a name="{{ catname }}"></a><h1 class="post-index-cat">{{ catname }}</h1>
	{% for post in site.tags[catname] %}
    {% include post_in_list.html %}
    {% endfor %}
{% endfor %}