<!DOCTYPE html>
<html>
<head>

  <meta charset="UTF-8">
  <title>{{ page.title }} &middot; {{ site.title }}</title>
  <meta name="viewport" content="width=device-width">
  <meta name="author" content="{{ site.author.fullname }}">
  <link rel="author" href="https://plus.google.com/u/0/+{{ site.author.google }}/posts">

  {% if page.title == "Home" %}
  <meta name="google-site-verification" content="{{ site.googleverify }}" />
  {% endif %}
  
  <!-- fix multiple links -->
  <link rel="canonical" href="{{ site.fullpath }}{{ page.url | replace:'index.html','' }}" />

  <!-- icons -->
  {% if page.favicon != null %}
  <link rel="shortcut icon" href="favicon.ico" />
  {% endif %}

  <!-- HIGHLIGHTER SCRIPTS -->
  {% if page.highlight != null %}
  <link rel="stylesheet" href="/assets/prism/prism{% if page.hltheme == null %}-github{% else %}-{{page.hltheme}}{% endif %}.css"/>
  <!-- <link rel="stylesheet" href="/assets/prism/prism-line-numbers.css"> -->
  {% endif %}

  <!-- fonts -->
  <link href='https://fonts.googleapis.com/css?family=Anonymous+Pro:700,400' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">

  <!-- stylesheets -->
  <link rel="alternate" type="application/atom+xml" href="http://feeds.feedburner.com/aviaryan" title="RSS feed" />
  <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/css/colors-black.css" rel="stylesheet" />
  <link href="/assets/css/mojombo.css" rel="stylesheet" />

{% include ga.html %}

</head>

<body>

  <div id="page">

    <div id="sidebar">
      <nav id="navigation">
          <li><h1><a href="/about.html" style="display: inline-block; width: inherit;">Avi Aryan</a></h1></li>
          <!-- <a href="/"><img src="/images/profile_128.png" height="100" width="100"></a></li> -->
          <li><a href="/">Home</a></li>
          <li><a href="/blog">Archive</a></li>
          <li><a href="/ahk">Ahk scripts</a></li>
          <!-- <li><a href="/softwares.html">Softwares</a></li> OUTDATED -->
          <li><a href="{% if page.ghlink != null %}{{page.ghlink}}{% else %}http://www.github.com/{{site.author.github}}{% endif %}">GitHub</a></li>
      </nav>


      {% if layout.rtype != "post" %}
        <li class="latestposts-header">Latest Posts</li>
        {% for post in site.posts limit:5%}
        <li class="latestposts-box">
         <a href="{{ post.url }}"> <span class="latestposts">{{ post.title }}</span> </a><br>
        </li>
        {% endfor %}
        <li></li>  <!-- for last line -->
      {% else %}
        {% if page.category != null %}
        <li class="navigation-header-small latestposts-header">Category</li>
        <li class="top-xs bottom-xs"><font class="heading"><a href="/blog/{{ page.category }}/"><span class="button button-cat">{{ page.category }}</span></a></font></li>
        {% endif %}

        <li class="navigation-header-small latestposts-header">Tags</li>
        <li class="top-xs">
        <a href="/blog/tags.html#untagged"><span class="button button-tag">Untagged</span></a>
        {% for tag in site.tags %}<a href="/blog/tags.html#{{ tag | first }}">
        <span class="button button-tag">{{ tag | first }}</span></a>
        {% endfor %}
        </li>
      {% endif %}
    
    <br><br> <!-- extra space in case of small page -->
    </div>

    {% if layout.rtype == "page" %}
      {% capture xcid %}xcpg{% endcapture %}
    {% else %}
      {% capture xcid %}xc{% endcapture %}
    {% endif %}

   <div id="content">
      
 <div id="rightbar">
   <a href="/"><span class="inbutton">Home</span></a>
   <a href="/about.html"><span class="inbutton">About</span></a>
   <a href="/blog"><span class="inbutton">Archive</span></a>
   <!-- <a href="/softwares.html"><span class="inbutton">Softwares</span></a> NO NEED. HIGHGLY OUTDATED-->
    <!--<a href="{% if page.ghlink != null %}{{page.ghlink}}{% else %}http://www.github.com/{{site.author.github}}{% endif %}">
   <span class="inbutton">GitHub</span></a>-->
   <!-- <a href="http://feeds.feedburner.com/aviaryan"><span class="inbutton">Feed</span></a> -->
 <br><br> <!-- br here helps to capture div space so avoids heading to get that space -->
 </div>
      
      <br>
    <div id="{{ xcid }}">

    <header id="header">
      <span class="header_title">
      <h1>{{ page.title }}</h1>
      <span class="tagline"><small>
      {% if layout.rtype == "post" %}
      by <a href="https://plus.google.com/u/0/+{{ site.author.google }}/posts">{{ site.author.fullname }}</a> <span style="margin: 0px 5px 0px 5px;">|</span>
      <span class="post_date">{{ page.date | date: "%b %d, %Y" }}</span>
      {% else %}
      {{ page.tagline }}{% endif %}</small></span>
      </span>
    </header>
    
    <br><br>

    {% if layout.rtype == null %}
    <div id="data">
     
      {{ content }}
    
    </div>
    {% else %}
      {{ content }}
    {% endif %}

  {% if layout.rtype == "post" %}
    {% if page.nod == null %}
      {% include disqus.html %}
   {% endif %}
  {% elsif layout.rtype == "page" %}
    {% if page.nod == null %}
      {% include disqus_notauto.html %}
    {% endif %}
  {% else %}
    <br><br> <!-- provide blankspace, looks better -->
  {% endif %}

  <div class="clear"></div>
  
  <br><br>
  <footer id="footer">
    <p class="copyright">Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author.fullname }}
    <br>
    <span style="color: #8F8F8F;">Powered by <a href="http://jekyllrb.com">Jekyll</a>, Hosted on <a href="https://goo.gl/x1sZID">GitHub</a></span></p>
  </footer>

    </div>
    </div>


  </div>


<!-- JS AT THE END FOR FASTER LOAD -->
{% if page.highlight != null %}
<script src="/assets/prism/prism-core.min.js"></script>
<!-- <script src="/assets/prism/prism-line-numbers.min.js"></script> -->

{% for brush in page.brushes %}
  <script src="/assets/prism/prism-{{ brush }}.js"></script>
{% endfor %}
{% endif %}

</body>
</html>