---
rtype: post
layout: default
---
<article class="post">

	{% if page.external-url %}
		<h1>
			<a href="{{ page.external-url }}">{{ page.title }}</a> 
			<a class="anchor" href="{{ page.url }}"><i class="icon-anchor"></i></a>
		</h1>
	{% endif %}
	
	<div class="post-content" id="data">{{ content }}</div>
	
	<br>
	<hr>
	<div id="post-tags">
		<p>{% for tag in page.tags %}<a href="/blog/tags.html#{{ tag }}" class="uk-badge">{{tag}}</a> {% endfor %}</p>
	</div>
	<p>
		<a href="http://www.facebook.com/sharer.php?u={{ site.fullpath }}{{ page.url | escape }}" 
			class="uk-button white facebook uk-margin-small-top">Facebook</a> 
		<a href="http://twitter.com/intent/tweet?text={{ page.title | escape }}&url={{ site.fullpath }}{{ page.url | escape }}&via={{ site.author.twitter }}"
			class="uk-button white twitter uk-margin-small-top">Twitter</a> 
		<a href="https://plus.google.com/share?url={{ site.fullpath }}{{ page.url | escape }}" 
			class="uk-button white gplus uk-margin-small-top">Google+</a>
	</p>

</article>